/* boardStyles.css */

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1rem; */
    font-family: 'Zilla Slab';
    /* border: 2px solid red; */
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
}

.guess-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.4rem;
}

.letter {
    width: 3rem;
    height: 3rem;
    border: 2px solid #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
}

.letter.current-input {
    transform: scale(1.1);
    border-color: #999;
    transition: transform 0.1s ease;
}

.letter.inactive {
    opacity: 0.2;
    pointer-events: none;
}

.letter.blocked {
    opacity: 0.1;
    pointer-events: none;
}

.board .guess-row:first-child .letter.blocked.loaded {
    visibility: visible;
    opacity: 0.3;
}

/* Feedback colors */
.correct {
    background-color: #6aaa64;
    /* green */
    border-color: #6aaa64;
    color: white;
}

.present {
    background-color: #c9b458;
    /* yellow */
    border-color: #c9b458;
    color: white;
}

.absent {
    background-color: #787c7e;
    /* grey */
    border-color: #787c7e;
    color: white;
}

.status-message {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #333;
}

.devWord {
    font-family: 'Zilla Slab';
}

/* shake */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-6px);
    }

    40% {
        transform: translateX(6px);
    }

    60% {
        transform: translateX(-4px);
    }

    80% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.4s ease-in-out;
}

/* bobble */
@keyframes bounce-up-down {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-15%);
    }

    60% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

.letter.correct.bounce {
    animation: bounce-up-down 0.6s ease;
}