.perkDisplay {
    border: 1px solid #ccc;
    max-width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.topPerksSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.inventoryTitle {
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}

.perkGrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}