/* Base layout */
.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 444px;
    margin: 0 auto;
    font-family: 'Zilla Slab', serif;
    width: 100%;
}

/* modifiers display */
.modifiersDisplay {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.5rem;
    /* background-color: #f3f3f3; */
    border-radius: 8px;
    font-family: 'Zilla Slab';
}

.mod-left {
    font-weight: bold;
    color: #333;
}

.mod-right {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.mod-debuff {
    color: white;
    padding: 0.15rem 0.4rem;
    border-radius: 6px;
    font-size: 0.75rem;
}

.mod-none {
    color: #777;
    font-style: italic;
}

.mod-debuff.passive {
    background-color: #4490f0;
}

.mod-debuff.active {
    background-color: #e74c3c;
}


/* HUD and Perks */
.hud {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.active-perks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.perk-tag {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 0.25rem 0.6rem;
    font-size: 0.9rem;
    font-weight: 500;
}

/* Board */
.board-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

/* buttons for perks */
.gameButtons {
    padding: 0;
    margin: 0;
    height: 20px;
}